body{
    background:#0D1117;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
    margin:0;
}

header{
    padding:50px;
}

section{
    padding:40px;
}

.card{
    width:70%;
    margin:auto;
    background:#161B22;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}
